<header>
    <h2>Pensando en ti te recomendamos</h2>
</header>
<section class="recomendaciones">
    <div class="tarjetas">
    <div class="tarjeta tarjeta-bigg" style="background-color: #f8a7c0;">
        <img src="https://cdn.dynamicyield.com/api/8775742/images/63029c09111f__banner_desktop.png" alt="Carro">
        <div class="contenido">
            <h3>Tu360Movilidad</h3>
            <h2>¿Te imaginas en tu propia nave?</h2>
            <p>Compra tu carro con tasa especial desde 0.99% M.V.* Del 5 al 31 de marzo. *Aplican TyC</p>
            <button>Pide tu crédito</button>
        </div>
    </div>
    <div class="tarjeta" style="background-color: #34d399;">
        <img src="https://cdn.dynamicyield.com/api/8775742/images/2fee781ecf31d__card_2_desktop.jpg" alt="Viaje">
        <div class="contenido">
            <h3>Tu360Compras</h3>
            <h2>Viaja en nuestro Flash Sale</h2>
            <p>Disfruta ofertas con +5% de descuento adicional y hasta 4 cuotas sin interés.</p>
            <button>Compra ahora</button>
        </div>
    </div>
    <div class="tarjeta" style="background-color: #facc15;">
        <img src="https://cdn.dynamicyield.com/api/8775742/images/e5eedc414a08__bre-b_card_2.jpg" alt="Celular">
        <div class="contenido">
            <h3>Bre-B</h3>
            <h2>1,2,3 tu plata pasará en Bre-B</h2>
            <p>En 2025 moverás plata a otros bancos y entidades, fácil y Bre-B.</p>
            <button>Conoce más aquí</button>
        </div>
    </div>
    </div>
</section>
