header {
    padding: 20px;
}
.recomendaciones {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.tarjetas {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .tarjeta {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }
  
  .tarjeta img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .tarjeta .contenido {
    padding: 15px;
    gap: 10px;
  }
  
  .tarjeta h3 {
    font-size: 14px;
    color: #666;
  }
  
  .tarjeta h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .tarjeta p {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px; 
  }

.tarjeta-bigg {
    width: 500px;
  }

button {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #292929;
    background-color: transparent;
    color: #292929;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
}